body {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.2em;
  text-align: justify;
}
div.inputs {
  display: inline-block;
  width: 380px;
  padding-top: 20px;
}

fieldset.contact img {
  display: inline-block;
}

.wrapper {
  background: white url(../img/clip.jpg) no-repeat;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1024px;
}

.clipboard {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 220px;
  left: 82px;
  width: 580px;
  height: 723px;
  background: #E4E4E4;
}

.page {
  display: block;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
  height: 723px;
  background-color: #E4E4E4;
}

img.nav {
  position: absolute;
  top: 890px;
  width: 90px;
  height: 50px;
  z-index: 10;
}

img.nav.prev {
  left: 80px;
}

img.nav.next {
  left: 620px;
}

form p {
  margin: 20px 0;
  padding: 0 1em;
}

fieldset.welcome img.logo {
  margin: 20px auto;
  display: block;
  width: 500px;
  height: 115px;
}

fieldset.welcome h2 {
  font-size: 200%;
  text-align: center;
  margin: 0.5em 0;
}

fieldset {
  padding: 20px;
}

fieldset.contact div {
  height: 150px;
  vertical-align: middle;
}

fieldset div img.icon {
  width: 150px;
  max-height: 150px;
  margin-right: 30px;
  float: left;
}

fieldset.personal div img {
  display: inline;
  margin: 20px;
}
fieldset.personal div img.selected {
  border: 5px solid white;
  border-radius: 20px;
}

input[type="text"], input[type="email"], input[type="number"] {
  width: 370px;
  height: 40px;
  font-size: 50%;
  display: block;
  border-radius: 20px;
}

ul.social {
  text-align: center;
}

ul.social li {
  display: inline;
}

ul.social img {
  margin: 10px;
  width: 70px;
  height: 70px;
}

input[type="radio"] {
  display: none;
}

label,  label.img {
  display: inline-block;
  border: 3px solid transparent;
}

input[type="radio"]:checked + label {
  border: 3px solid white;
  border-radius: 20px;
}

#personal-age {
  display: block;
  margin: 0 auto;
  width: 80px;
  font-size: 110%;
  text-align: center;
}

#personal-age-slider {
  width: 300px;
  margin: 10px auto;
  border-radius: 20px;
}

img.age-sequence {
  margin: 10px 20px;
}

.ui-slider .ui-slider-handle {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  border-style: none;
  top: -10px;
}

.center {
  width: 100%;
  text-align: center;
}
.center > div {
  display: inline-block;
}
