body {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.2em;
  text-align: justify;
}

.wrapper {
  background: white url(../img/clip.jpg) no-repeat;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1024px;
}

.clipboard {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 220px;
  left: 82px;
  width: 622px;
  height: 723px;
  background: #E4E4E4;
}

.page {
  display: block;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
  height: 723px;
  background-color:      #E4E4E4;
  background-image:      url('../img/arrows.png');
  background-repeat:     no-repeat;
  background-attachment: fixed;
  background-position:   center bottom;
}

form p {
  margin: 20px 0;
  padding: 0 1em;
}

fieldset.welcome img.logo {
  margin: 20px auto;
  display: block;
  width: 500px;
  height: 115px;
}

fieldset.welcome h2 {
  font-size: 200%;
  text-align: center;
  margin: 0.5em 0;
}

ul.social {
  text-align: center;
}

ul.social li {
  display: inline;
}
ul.social img {
  margin: 10px;
  width: 70px;
  height: 70px;
}
