body {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.2em;
  text-align: left;
}

.wrapper {
  background: white url(../img/clip_big_dark_high_contrast.jpg) no-repeat;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1024px;
}

.clipboard {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 220px;
  left: 82px;
  width: 625px;
  height: 723px;
  background: #E4E4E4;
}

.page {
  display: block;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
  height: 723px;
  background-color: #E4E4E4;
}

fieldset.contact div img.icon {
  float: left;
}

img.nav {
  position: absolute;
  top: 890px;
  width: 90px;
  height: 50px;
  z-index: 10;
}

#progress {
  position: absolute;
  top: 880px;
  width: 450px;
  height: 50px;
  left: 170px;
}

img.nav.prev {
  left: 80px;
}

img.nav.next {
  left: 620px;
}

form p {
  margin: 5px 0;
  padding: 0 1em;
}

h3 {
  margin-top: 30px;
}

/* WELCOME PAGE STYLES */
fieldset.complete img.logo,
fieldset.welcome img.logo {
  margin: 20px auto;
  display: block;
  width: 500px;
  height: 115px;
}

fieldset.complete h2, 
fieldset.welcome h2 {
  font-size: 200%;
  text-align: center;
  margin: 0.5em 0;
}

ul.social {
  text-align: center;
}

ul.social li {
  display: inline;
}
ul.social img {
  margin: 10px;
  width: 70px;
  height: 70px;
}


/* CONTACT PAGE STYLES */
fieldset.contact img {
  display: block;
  float: left;
}

fieldset.contact div.clearfix {
  margin: 30px;
}

fieldset.contact div.name div.inputs {
  margin-left: 10px;
}

fieldset.contact div.email div.inputs {
  margin-left: 22px;
  margin-top:  20px;
}

fieldset.contact div.email {
  margin-bottom: 10px;
}

fieldset.contact div.email img {
  margin-left: 12px;
}

fieldset.contact div.phone {
  margin-bottom: 0px;
  margin-top: 10px;
}

fieldset.contact div.phone div.inputs {
  margin-left: 23px;
  margin-top:  30px;
}

fieldset.contact div.address div.inputs {
  margin-top: -10px;
}
fieldset.contact div.address {
  margin-top: 0px;
}

fieldset.contact div.address div.inputs {
  margin-left: 15px;
}
fieldset.contact div.inputs {
  float: left;
}

/* PERSONAL INFO STYLES */
fieldset.personal div img {
  width: 200px;
  height: 200px;
  display: inline;
  margin: -3px;
}

fieldset.personal div img.selected {
  border: 10px solid #5D909E;
  border-radius: 20px;
}

input[type="text"], input[type="email"], input[type="number"] {
  width: 370px;
  height: 40px;
  font-size: 50%;
  display: block;
  border-radius: 20px;
}


input[type="radio"], input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
}

label img {
  display: inline-block;
  border: 10px solid transparent;
}

input[type="radio"]:checked + label img,
input[type="checkbox"]:checked + label img{
  border: 10px solid #5D909E;
  border-radius: 20px;
}

.center {
  width: 100%;
  text-align: center;
}
.center > div {
  display: inline-block;
}

div.duration {
  margin-bottom:35px;
}

div.duration label img {
  height: 160px;
}

fieldset label {
  text-align: center;
  font-size: 80%;
}

fieldset.referral label, fieldset.fitness label {
  padding-bottom: 10px;
  vertical-align: top;
}

fieldset.fitness div.accomplish label img {
  width: 115px;
  height: 115px;
}

fieldset.fitness label h3 {
  font-size: 90%;
}

fieldset.fitness label p {
  width: 130px;
  padding: 0;
}

fieldset.equipment label img, fieldset.goals div.frequency label img, fieldset.classes label img {
  width: 120px;
  height: 120px;
}

fieldset.goals div.time label img {
  width: 160px;
  height: 160px;
}


#referral-details {
  display: none;
  margin-top: 30px;
}
#referral-details-text {
  margin: 0 auto;
}

fieldset.equipment label, fieldset.gym label, fieldset.classes label {
  vertical-align: top;
}

#personal-partner {
  margin: 0 auto 10px auto;
}

fieldset.family div.partner {
  display: none;
}

fieldset.gym label {
  font-size: 0.5em;
}

fieldset.gym label img {
  width: 90px;
  height: 90px;
}
